.chromeframe {
  margin: 0.2em 0;
  background: #fff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #fff !important;
}
.container-fluid {
  background-color: #fff !important;
}
/* #navtop ul{ margin:0 !important; padding:0 !important; } */
.navbar{ 
	padding:0; 
	margin-bottom:0;  
	border-bottom:3px double #aaa;
	background-color:#fff !important;
}
.navbar-default{ }

#navtop ul li{ border-left:1px solid #eee;}
.navbar-header img {
  /* max-width: 30% !important; */
  height: auto;
  width: inherit;
}
.navbar h1 {
 	max-width:550px; display:inline; float:left; font-style:italic; font-size:1em; line-height: 1em; margin:10px 0 0; padding:0 0 0 20px; font-family: 'Droid Serif', serif;  
}
.navbar h1 a.navbar-brand{
  display:inline;
  padding:0;
  margin:0;
  float:left;
	color:#606060;
}
.navbar h1 a.navbar-brand{ font-size:1.06em; line-height: 1.12em; font-family: 'Droid Serif', serif; }
.navbar h1 a.navbar-brand img { max-width: 30%; margin-right:20px; }
.navbar h1 a.navbar-brand span{ position:relative; top:4px;}

#navtop.navbar-collapse{ padding:0 !important;background-color:#fff !important;}

.navbar-nav>li>a{ color:#555; padding-bottom:10px; font-weight:600;  font-family: 'Trebuchet MS', Helvetica, sans-serif;}
.navbar-nav>li.login{ margin-bottom:0px; padding-bottom:0;}
.navbar-nav>li.login a{ position:relative; top:0px;}

.navbar .explore{ width:115px !important;}
.navbar .login{ width:72px !important;}
.navbar .options{ width:105px !important;}
.navbar .lang{ width:70px !important;}
.navbar li.explore>a>i{ position:relative;left:0px;top:0px;}
.navbar li>a>i.km-arrowselect{ position:relative;left:-5px;top:2px;}


.navbar ul.dropdown-menu { 
	position:absolute;  
	top:50px;
	z-index:1000; 
	margin:0;	
	padding:0;
	/* border:1px solid #eee; */
}
.navbar .options ul.dropdown-menu {  /* options dropdown */
	position:absolute; 
	left:-112px;
	min-width:260px;
}
.navbar .lang ul.dropdown-menu {  /* language dropdown */
	position:absolute; 
	left:-63px;
	min-width:120px;
}
.navbar-nav>li>.dropdown-menu{
	margin: 0px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	padding:0 0 8px;
	border:none !important;
}
#navtop ul.dropdown-menu li { line-height:1.75em; height:1.75em;  margin:0; padding:0;}

#navtop ul.dropdown-menu li.options-title{ font-size:1.25em; line-height: 2em; height:2em; background: #eee; padding:0 0 0 18px; margin:0; color:#555; font-family: 'Droid Sans', sans-serif;}
#navtop ul.dropdown-menu li.options-title:first-child{ margin-top:0px;}

#navtop ul.dropdown-menu>li>a{ padding:0;}
#navtop ul.dropdown-menu li a{ line-height:1em; height:1.75em; padding:0 0 0 15px !important;}
#navtop ul.dropdown-menu li a::before{ color:#ddd; font-size:1.5em; position:relative; top:6px; font-family:'kmaps-icons'; content:'\e614'; margin-right:5px;}
#navtop ul.dropdown-menu li.select a::before{ color:#397fbb; content:'\e615';}

#navtop ul.dropdown-menu li a.on::before{ color:#aaa;}
#navtop ul.dropdown-menu li.select a.on::before{ color:#fff;}

div.navbar.navbar-default.navbar-static-top{
	
}

#navtop .nav>li>a{ }



.collections,
.titlearea,
.main-content {
  margin-left: 0;
  margin-right: 0;
}
.collections {
  background-color: rgba(57, 55, 63, 0.95);
  color: white;
  text-transform: uppercase;
  padding: 0px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  border-bottom:1px solid #777;
  /*margin-bottom:1px;*/
  white-space:nowrap;
}
.collections .lightblue-bg {
  background-color: rgba(76, 75, 81, 0.95);
  overflow: auto;
  position: relative;
}
.collections .four-collections {
  margin: 0 auto;
  text-lign:center;
}
.collections .four-collections > div {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.collections ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 25px;
  margin-left: 12%;
  border-right: 2px solid #555;
  height:130px;
}
.collections ul.last {
  border-right: none;
}
.collections ul li {
  font-size: 0.85em;
  line-height:2em;
  letter-spacing: 0.06em;
}
.collections ul li a {
  color: #c0c0c0;
  text-decoration: none;
}
.collections ul li a:hover {
  text-decoration: none;
  color: #fff;
}
.collections ul li .km-li{
	position:relative
}

.collections h4 {
	color:#eee;
  text-align: center;
  margin: 15px 0 20px;
  letter-spacing: 0.32em;
}
.collections .closecollection {
  color: #aaa;
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor:pointer;
  display:inline-block;
}
.collections .closecollection:hover {
	color: #ccc;
}
.collections .closecollection::before {
	content: '\e61d';
	font-family:'kmaps-icons';
}
.collections ul .icon {
	position:relative;
	right:6px;
	top:4px;
}






.titlearea {
  color: white;
  background-color: #DC3C47;
  position: relative;
  padding-top:10px;
}

.titlearea .page-title {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size:2em;
  line-height:1em
}

.titlearea .page-title .icon {
  line-height:1em;
  margin-left:-15px;
  background-color:#a52d34;
}

.titlearea .breadcrumb {
  background-color: inherit;
  font-size: smaller;
  font-family: 'Droid Serif', serif;
  margin:0;
  padding:10px 0 5px 5px;
}

.titlearea .breadcrumb .tag-before-breadcrumb {
  font-family: 'Droid Sans', sans-serif;
  font-size:1.32em;
  padding-right:5px;
  font-weight: bold;
}

.breadcrumb > li + li::before{ padding:0 3px;}

.titlearea .breadcrumb a {
  color: white;
  text-decoration: none;
}

.titlearea .breadcrumb .active {
  color: white;
}

.titlearea .breadcrumb li + li::before {
  color: white;
}

.titlearea .breadcrumb .active{ font-weight:bold; color:#fff; font-size:1.06em;}


.titlearea .search-box {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 0 8px 8px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.titlearea .search-box .search-color {
  background-color: rgba(57, 55, 63, 0.95);
  height: 34px;
  font-size: 1.5em;
  line-height: 34px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.titlearea .search-box .search-color .fa {
  margin-left: 12px;
}











.main-content {
  color: #333;
  background-color: #eee;
  position:relative;
}
.main-content>div {
  background-color: #eee;
}
.main-content .content-sidebar {
  padding-left: 0;
  padding-right: 0;
}

.main-content .nav-pills {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  border-right: 1px solid #eee;
}

.main-content .content-sidebar li a i{ margin-right:3px;}

.main-content .nav-pills li {
  margin-right: -1px;
  margin-top:0;
}

.main-content .nav-pills li a{ background-color: #fff;}
.main-content .nav-pills li a,
.main-content .nav-pills li a:hover {
  color: #707070;
  padding-left: 155px;
  border-radius: inherit;
  border-top: 1px solid #eee;
  margin-top:0px;	
}
.main-content .nav-pills li a:hover{
  color: #222;
  border-top-color:#ddd;
  background-color: transparent;
}

.main-content .nav-pills li.active a {
  background-color: #eee; 							/*---- match background on content-page -----*/
  border-left: 10px solid #DC3C47;
  border-top-color:#ddd;
  color: #333;
  padding-left: 145px;
  border-right-color: transparent;
}
.main-content .nav-pills li:first-child a {
  border-top: none;
}
.main-content .nav-pills li.active a:focus{
  outline: 0 !important;
  outline: -2px auto -webkit-focus-ring-color !important;
}


a.list-group-item.active>.badge, 
.nav-pills>.active>a>.badge{
	color:#fff;
	background:#606060;
}
.nav-pills>li>a>.badge{
	background:#888;
	line-height:7px;
	margin-left:5px;
	position:relative; top:-3px;
	font-size:9px;
	letter-spacing:0.06em;
}







/*----- perhaps remove for accessability, good for testing ----*/
*:focus{
  outline: 0 !important;
  outline: -2px auto -webkit-focus-ring-color !important;
}


.content-page {
  background-color: #eee;    /*---- content background color -----*/
  padding: 15px;
  font-family: 'Droid Serif', serif;
  max-width: 900px;
}

.content-page h6 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-page a {
  color: #428bca;
}

.content-page iframe {
  border: none;
}

.content-page #accordion h6 {
  margin: 0;
}

.content-page #accordion h6 a {
  color: #777;
  text-decoration: none;
}

.content-page .google-maps {
  position: relative;
  padding-bottom: 75%;  /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
}

.content-page .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}



.footer {
  color: #777;
  width: 100%;
  font-size: small;
  padding-left: 15px;
  padding: 40px 0 20px 15px;
  background-color:#444;
}

.container-narrow > hr {
  margin: 30px 0;
}


  

/*************************************************/
/********* SEARCH * Styles ********/
/*************************************************/

/*------ clear default Extruder styles -------*/
.extruder, 
.extruder.right,
.extruder .extruder-content, 
.extruder.right .flap .flapLabel, 
.extruder .text, 
.extruder .voice.hover, 
.extruder .voice.sel, 
.extruder .settingsBtn, 
.extruder .optionsPanel,
.optionsPanel .panelVoice a:hover{
	background-image:none; background-color:transparent;
} 
.extruder.open .extruder-content, 
.extruder.right.open .extruder-content,
.extruder.right .flap,
.extruder .voice,
.extruder.right .text,
.optionsPanel .panelVoice a{
	box-shadow:none; text-transform:none;
}
.extruder.right .extruder-content,
.panel-default .panel-heading,
.extruder.right .panel-heading,
.extruder.right .panel-group,
.extruder.right .panel-group .panel,
.extruder.right .panel-default>.panel-heading{
	border:none;
}
/* ------ bootstrap style fix ------ */
#kmaps-search .panel-group{
  border:none;
  width:100%;
  background-color:#fff;
  /*margin:-10px -20px 0 -2px;*/
}
#kmaps-search .panel-body{ 
  background-color:#f0f0f0;
  border:none; 
  border-radius:0px; 
  width:100%; 
}
#kmaps-search .panel-group .panel+.panel{ margin-top:0;}
#kmaps-search .panel-group .panel{ 
  border:none;
  box-shadow:none;
  border-radius:0px; 
  margin-bottom:2px;
  width:100%; 
  background-color:#fff;
  margin-bottom:0px;
}
.extruder .text,
#kmaps-search .text{
  border:none; 
  text-shadow:none; 
  background-color:#fff;
  color:#333;
  width:100% !important;
  padding:0;
  font-family: 'droid-serif', serif;
}





/*---- SEARCH sliding panel wrapper ---------*/
/*---- mbExtruder targets #kmaps-search ---- */
#kmaps-search{ 
  margin-top:-67px; /*--- position location of sliding panel vertically, relative to content container ---*/
  box-shadow:none;
  background-color:#fff;
}
#kmaps-search.extruder.right,
#kmaps-search.extruder.right.isOpened{ 
}
#kmaps-search .ext_wrapper{ height:auto;}
.extruder{ }
.extruder.right{ background-color:#fff;}
.extruder.right .extruder-content{
	background-color:#fff;
	border:none;
	width:100%;
	padding:0;
	-moz-box-shadow:0 0 5px 0px #999;
	-webkit-box-shadow:0 0 5px 0px #999; 
	box-shadow:0px 0px 5px 0px #999;
}
/* ------ search button icon ------ */
.extruder.right .flap{ 
  cursor:pointer;
  display:block;
  background-color:#fff;
  height:50px;
	width:50px;
  position:absolute;
  left:0px;
  top:0px;
  padding: 8px 0 8px 8px;
  border-top-left-radius:50px;
  border-bottom-left-radius:50px;
  margin:0px 0px 0px -50px;
}
.extruder.right .flap.on-flap{
	-moz-box-shadow:-2px 0px 2px 0px #a22c35;
	-webkit-box-shadow:-2px 0px 2px 0px #a22c35; 
	box-shadow:-2px 0px 2px 0px #b3303a;
}

.extruder.right .flap span.flapLabel,
.extruder.right .flap.on-flap span.flapLabel{ 
  background-color:#505050;  
  height:36px;
  display:block; 
  padding:18px 40px 18px 0; 
  margin:-1px 0px 0px 0px;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
  overflow:hidden;
  width:42px !important;
}

object.flip_label{   
  display:none;
}




/*---- search input section -----*/
#kmaps-search #search-section{ margin:7px 0 0 7px;}
#kmaps-search .search-form-view{
	background-color:#f8f8f8;
	padding:10px 0 0; 
	margin:0;
	/* border-top:2px solid #ddd; */
}

#kmaps-search .search-form-view textarea{
	margin: 0 0 5px 10px; 
	padding:5px 7px 10px 10px;
	width:93%;
	font-size:1.18em;
	color:#404040;
	resize: none;
	overflow: auto;
}
/*---- advanced search toggle ------*/
#kmaps-search h3{
	color:#f5f5f5;
	background-color: #505050;
	margin:7px 0 10px 0px;
	font-weight:normal;
	line-height:36px;
	height:36px;
	padding:0;
	width:13em;
}
#kmaps-search h3.on{
	padding-left:25px;
}
#kmaps-search h3.on a{ 
	background: transparent url(../images/close-searchSlide.png) no-repeat right center;
	width:40px !important;
	height:36px !important;	
	text-indent:-9000px;
	float:right;
	display:inline-block;
}


#kmaps-search .search-utils{ padding-top:5px;margin:0;}
#kmaps-search a.advanced-link{ 
	display:inline; 
	color:#3b7db5; 
	float:right; 
	font-weight:600;
	height:15px; 
	margin:3px 20px 5px 0;
	padding-left:20px;
	font-size:1em;	
}
#kmaps-search a.advanced-link:hover{
	text-decoration:none;
	color:#235683;
}
#kmaps-search a.advanced-link i{
	font-family: 'FontAwesome';
	margin-right:3px;
	font-size:0.68em;
}
#kmaps-search a.advanced-link i::before{
	content: '\f067';
}
#kmaps-search a.advanced-link.show-advanced i::before{
	content: '\f068';
}
#kmaps-search .advanced-link-view{
	padding:0 0 5px 15px;
	background-color:#f8f8f8;
}

#kmaps-search .advanced-link-view .form-group{ 
	padding:10px 0;
	margin:0 12px 0 0; 
	border:1px solid #e0e0e0; 
	border-width:1px 0 0;
	font-size:1.06em; font-weight:600;
	line-height:1.5em;
}
#kmaps-search .advanced-link-view .form-group.last{
	padding-bottom:20px;
}

.search-utils .btn{ font-size:1.18em; margin:0 0 10px 10px !important; }


/*---- START tabs -----*/
#view-section{ margin:7px 0 7px 7px;}
#view-section .tab-content{
	background-color:#f8f8f8;
	padding:0;
	border-left: 1px solid #ddd;
}
#view-section .tab-content .tab-pane{ padding-bottom:30px;}
#view-section .tab-content .tab-pane#treeview{ padding-bottom:5px;}
#view-section .nav-tabs>li{
	width:50%;
	font-size:1.18em;
	letter-spacing:0.06em;
}
#view-section .nav-tabs>li>a{
	display: inline-block;
  
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#view-section li.treeview  .tab-content{ padding-bottom:0px;}
#view-section li.treeview a::before{
	content: '\f0e8';
	margin-right:6px;
	font-family: 'FontAwesome';
}

#view-section #listview > div{ padding:5px 10px;}
#view-section li.listview a::before{
	content: '\f0ca';
	margin-right:6px;
	font-family: 'FontAwesome';
}

#view-section .nav-tabs>li>a{
	margin-right: 0px;
	line-height: 1.428571429;
	border-radius: 0;
	font-weight:bold;
}
#view-section .nav>li>a{
	display:block;
	text-align:center;
}
#view-section .nav-tabs>li>a:hover, 
#view-section .nav-tabs>li>a:focus{
	background-color:#fff;
}
#view-section .nav-tabs>li.active>a, 
#view-section .nav-tabs>li.active>a:hover, 
#view-section .nav-tabs>li.active>a:focus{
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background-color:#f8f8f8;
	text-decoration:none;
}

/*---- list view ----*/

#listview > div { max-height:600px !important; min-height:250px !important;}
#view-section div.table-responsive{ }

#view-section table.table-results{ border:none; font-size:1.12em; margin-bottom:0; font-family:'droid-serif', serif;}
#view-section table.table-results a{ font-style:italic;}

.table tbody>tr>td{ line-height:1em; vertical-align:middle;}




/*---- tree view ----*/

#view-section ul.fancytree-container{ background-color:transparent; border:none; font-size: 1.12em; line-height: 1.32em; max-height:600px !important; min-height:250px !important; font-family: 'droid-serif', serif; }
#view-section ul.fancytree-container ul{ padding-top:1px;}
#view-section span.fancytree-icon{ display:none; margin:0; width:20px; height:0; line-height:0;}

#view-section span.fancytree-node{ border:none;}
#view-section span.fancytree-node.fancytree-active .glyphicon{ color:#e00;}
#view-section span.fancytree-expander::before{ }
#view-section span.fancytree-node.fancytree-active{ background-color:#fff !important; border:none;}

#view-section span.fancytree-title{ color:#333; margin-left:-17px; }
#view-section span.fancytree-title:hover{ color:#111;}

#view-section span.fancytree-title::before{ 
	color:#c0c0c0;
	font-family: 'kmaps-icons';
	font-size: 0.75em; 
	line-height:1em;
	content: '\e600';
	margin-right:10px;
}
#view-section .fancytree-has-children span.fancytree-title{ padding-left:10px; margin-left:-15px;}
#view-section .fancytree-has-children span.fancytree-title::before{ content:none;}

#view-section ul.fancytree-container .glyphicon{ color:#888; font-family: 'Glyphicons Halflings'; font-size: 0.93em; line-height:1em; margin-right:14px;}

/*ul.fancytree-container ul{ margin-top:0 !important;margin-bottom:5px;padding-top:0 !important;}*/


/*---- END tabs -----*/
/*---- END Search -----*/










 
  
  
  
  

@media screen and (min-width: 500px) {
  .main-content .content-sidebar {
    float: left;
    width: 30%;
  }

  .main-content .content-sidebar li a,
  .main-content .content-sidebar li a:hover {
    padding-left: 10px;
  }

  .main-content .content-sidebar li.active a {
    padding-left: 0;
  }

  .main-content .content-page {
    float: left;
    width: 70%;
  }

}

@media screen and (min-width: 600px) {
  .main-content .content-sidebar {
    width: 25%;
  }

  .main-content .content-sidebar li a,
  .main-content .content-sidebar li a:hover {
    padding-left: 20px;
  }

  .main-content .content-sidebar li.active a {
    padding-left: 10px;
  }

  .main-content .content-page {
    width: 75%;
  }

}

@media screen and (min-width: 768px) {

	.navbar-header img {
    height: auto;
    width: inherit;
  }
  .navbar-header .navbar-brand {
    padding: 10px 15px 0 15px;
  }    
  .nav.navbar-right {
    width: inherit;
  }
  .nav.header-text {
    margin: 14px 0 0 -300px;
    font-size: 1.1em;
  }
  .collections .four-collections {
    padding-bottom: 10px;
  }
  .collections .four-collections > div {
    width: 25%;
    margin-bottom: 15px;
    padding-right: 5px;
  }
  .collections .col-sm-3:nth-child(2) ul {
    border-right: 1px solid #f00;
  }
  .main-content .content-sidebar {
    width: 16.66667%;
  }
  .main-content .content-page {
    width: 83.33333%;
  }














