html{ -webkit-font-smoothing: antialiased; overflow-y:scroll;}
body{ font-family: "Museo Sans",sans-serif; font-weight:300;}
body div.wrap{ position:relative;}
*, *:before, *:after { 
   -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
*:focus{
  outline: 0 !important;
  /* outline: -2px auto -webkit-focus-ring-color !important; */
}
.container,
.container-fluid{ background:#eee;}
/*--- BEGIN navbar tabs ---*/
.navbar.navbar-default{ padding:0; margin:0;}
.navbar.navbar-default>.container-fluid{ background:#fff;}
.navbar.navbar-default .navbar-collapse,
.navbar.navbar-default.navbar-static-top{ border-bottom: none;}
.navbar-default h1 {color:#555; font-style:italic; font-size:1em; line-height: 1.25em; margin:0; padding:0 0 0 20px; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;  display:inline-block;float:left;}
.navbar-default h1 a.navbar-brand{border:0;display:inline-block;padding:0;margin:0;color:#333;font-size:1.18em; line-height:1.25em;font-weight:normal;text-shadow:1px 1px 1px #eee;}
.navbar-default h1 a.navbar-brand:hover{ color:#222;}
.navbar-default h1 a.navbar-brand span{ position:relative; top:7px; display:inline-block;}
.navbar-default h1 a.navbar-brand img { height:auto; width:28%; margin:7px 15px 0 0; }
.navbar-collapse{ padding:0;}
.navbar-default .navbar-nav>li{ border-left:1px solid #ddd; /* line-height:1.25em; height:3.5em; height:50px; */}
.navbar-default .navbar-nav>li>a{ 
	color:#666; 
	display:inline-block; 
	font-weight:600; 
	font-size:0.88em; 
	line-height:1em; 
	height:50px;
	margin:0;
	padding:14px 0 0 16px;
	font-weight:600;
	background:#fff;
	-webkit-transition: background-color 0.2s ease 0s;
	transition: background-color 0.2s ease 0s;
	text-transform:uppercase;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>li>a:hover{ background:#f0f0f0;}
.navbar-default .navbar-nav>li:last-child>a{ padding-left:15px;padding-right:40px;}

.navbar-default .navbar-nav>li.login>a{ padding-top:20px; } 
.navbar-default .navbar-nav>li.highlight>a{ background:#eee;color:#444;}
.navbar-default .navbar-nav li.explore>a>i.icon{ font-size:17px; position:relative;left:6px;top:2px;}
.navbar-default .navbar-nav>li.highlight:last-child{ border-left-color:#d0d0d0;}

.navbar-default .navbar-nav>li.highlight>a:hover{ background:#fff;color:#444;}
.navbar-default .navbar-nav>li.highlight.show-topmenu a{ background:#555; color:#fff;}
.navbar-default .navbar-nav>li.highlight.show-topmenu a i:before{ color:#fff;}
.navbar-default .navbar-nav>li.highlight.lang:active,
.navbar-default .navbar-nav>li.highlight:active{ background:#fff;}

.navbar-default .navbar-nav>li.lang>a{ padding-right:10px;}
.navbar-default .navbar-nav li.explore>a{ padding-right:20px;}
.navbar-default .navbar-nav li>a>i.km-arrowselect{ font-size:17px; position:relative;left:2px;top:4px;}
/*--- END navbar tabs ---*/

/*--- BEGIN dropdown menu ---*/
.navbar.navbar-default ul.dropdown-menu {  
	background:#fff;
	position:absolute;
	top:50px; 
	left:0;
	z-index:2000;
	margin:0;	
	padding:10px 0;
	border:1px solid #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding:10px 0 10px;
	border-top:2px solid #ddd;
	background-image: -webkit-linear-gradient(top, #e0e0e0 0px, #f7f7f7 8px, #fff 20px);
	background-image: -moz-linear-gradient(top, #e0e0e0 0px, #f7f7f7 8px, #fff 20px);
	background-image: -ms-linear-gradient(top, #e0e0e0 0px, #f7f7f7 8px, #fff 20px);
	background-image: -o-linear-gradient(top, #e0e0e0 0px, #f7f7f7 8px, #fff 20px);
	background-image: linear-gradient(top, #e0e0e0 0px, #f7f7f7 8px, #fff 20px);
}
.navbar .lang ul.dropdown-menu{ /* language dropdown */ left:-42px; width:110px; min-width:110px;}

.navtop ul.dropdown-menu li{ font-size:1em; line-height:2.5em; height:2.25em; margin:0; padding:0; border-left:none; border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-color:transparent;}
.navtop ul.dropdown-menu li:hover{ background:#f0f0f0; color:#333; border-color:#e7e7e7; /* background:  linear-gradient(to bottom, #ddd 0%, #fafafa 50%,  #f5f5f5 65%,  #ddd 100%); */ }
.navtop ul.dropdown-menu>li>label{ font-size:0.88em; line-height:2.5em; height:2.25em; margin:0; display:block; padding:0 0 0 13px;}

.navtop ul.dropdown-menu li.last{ padding-bottom:15px;}

.navtop ul.dropdown-menu li .radio-inline{ padding-left:20px;} /*--- graphic replacement --*/
.navtop ul.dropdown-menu label>div{ position:relative; top:-1px; right:6px;}
/*--- class drop-hdr is small header on the Preferences Menu ---*/
.navtop ul.dropdown-menu li.drop-hdr{ font-size:0.93em; text-transform:uppercase; line-height:2.5em; height:2.5em; font-weight:600; color:#555; background: #eee; padding:1px 0 0 14px; margin:8px 0 2px;}
.navtop ul.dropdown-menu li.drop-hdr:first-child{ margin-top:0;}
/*--- END dropdown menu ---*/


/*--- BEGIN collections panel ---*/
.collections {
  background: #4c4b51;
  color: #fff;
  text-transform: uppercase;
  padding: 0;  
  font-weight: 700;
  border-bottom:1px solid #777;
  white-space:nowrap;
  border:8px solid #39373f;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  position: relative;
}
.collections .four-collections {
  margin: 0 auto;
  text-align:center;
}
.collections .four-collections > div {
  width: 50%;
  float: left;
  margin-bottom: 5px;
  text-align:left;
}
.collections ul {
  list-style-type: none;
  padding-left:20px;
  border-left: 1px solid #555;
  height:120px;
  margin-left: 2.14em;
}
.collections ul:first-child{ margin-left:-8%;}
.collections .col-sm-3:nth-child(2) ul{ border-right:none;}
.collections ul.last {
  border-right: none;
}
.collections ul li {
  font-size: 1em;
  line-height:2em;
  margin: 0;
}
.collections ul li a {
  font-size: 0.88em;
  line-height:2em;  
  color: #c0c0c0;
  text-decoration: none;
  letter-spacing: 0.12em;
  margin-left:0;
}
.collections ul li a:hover {
  text-decoration: none;
  color: #fff;

}
.collections ul li .km-li{
	position:relative
}
.collections ul .icon {
	margin-right:8px;
	font-size:1em;
}
.collections h4 {
	color:#eee;
  text-align: center;
  margin: 15px 0 20px;
  letter-spacing: 0.32em;
}
.collections .closecollection {
  color: #aaa;
  font-size: 1.5em;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor:pointer;
  display:inline-block;
  -webkit-transition: color 400ms;
	transition: color 400ms;
}
.collections .closecollection:hover {
	color: #eee; 
	text-decoration:none;
}
.collections .closecollection:before {
	content: '\e61e'; /*--- close ---*/
	font-family:'kmaps-icons';
}
/*--- END collections panel ---*/


/*--- BEGIN banner header ---*/
.titlearea {
  color: #f9f9f9;
  background: #dc3c47;
  position: relative;
  padding-left:0;
  padding-right:0;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-shadow: inset 0px 15px 21px -10px hsla(0, 0%, 0.0000%, 0.1110);
	box-shadow: inset 0px 15px 21px -10px hsla(0, 0%, 0.0000%, 0.1110);
}
.titlearea>div{
  padding-top:8px;
  padding-bottom:10px;
  -webkit-box-shadow: inset 0px -10px 15px -7px hsla(0, 0%, 0.0000%, 0.1110);
	box-shadow: inset 0px -10px 15px -7px hsla(0, 0%, 0.0000%, 0.1110);
}
.titlearea .page-title {  
  font-weight: normal;
  font-size:2em;
  line-height:1.5em;
  margin:0;
  padding:0;
}
.titlearea .page-title span{ }
.titlearea .page-title .icon {
	padding:8px 9px 8px 7px;
  margin:0 10px 0 0;
  background:#a52d34;
  font-size:0.88em;
}
.titlearea .breadcrumb {
  background: inherit;
  font-size: smaller;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin:0 60px 0 20px;
  padding:0;
}
.titlearea .breadcrumb .tag-before-breadcrumb {
  font-family: "Museo Sans", sans-serif;
  font-size:1.32em;
  padding-right:0;
  padding-left:0;
  font-weight: bold;
}
.breadcrumb > li + li:before{ padding:0;}
.titlearea .breadcrumb a {
  color: #fff;
  text-decoration: none;
  word-break:break-all;
}
.titlearea .breadcrumb .active {
  color: #fff;
}
.titlearea .breadcrumb li + li:before {
  color: #fff;
}
.titlearea .breadcrumb .active{ font-weight:bold; color:#fff; font-size:1.06em;}

/*--- END banner header ---*/


/*---------------------*/
/*--- BEGIN content ---*/
/*---------------------*/
.main-content {
  color: #333;
  background: #eee;
  position:relative;
  height:100%;
  min-height:800px;
  margin-left: 0;
  margin-right: 0;
}
.content-section {
  background: #eee;    /*---- content background color -----*/
  padding: 15px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size:1.06em;
}
.content-section h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.content-section a {
  color: #5a65d1;
}
.content-section iframe {
  border: none;
}
.content-section .google-maps {
  position: relative;
  padding-bottom: 75%;  /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
}
.content-section .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.container-narrow > hr {
  margin: 30px 0;
}
.progressive { /*-- message for older browsers --*/
  color:#fff;
  margin: 0.2em 0;
  background: #5a65d1;
  padding: 0.2em 0;
  text-align:center;
  width:100%;
  font-weight:500;
  margin:0 auto;
  display:none;
}
.progressive a{ color:#fff;font-weight:normal;text-decoration:underline;}
.progressive a:hover{ text-decoration:none;}

/*--- BEGIN side col ---*/
.content-sidebar {
  padding-left: 0;
  padding-right: 0;
}
.content-sidebar ul.nav-pills {  
  font-weight: 600;
  font-size: 1em;
  line-height:2em;
  text-transform: uppercase;
  border-right: 1px solid #eee;
}
.content-sidebar ul.nav-pills li {
  margin-right: -1px;
  margin-top:0;
  white-space:nowrap;
  border-left: 10px solid #ccc;
}
.content-sidebar ul.nav-pills li.active {
	border-left: 10px solid #cb3a46;
}
.content-sidebar ul.nav-pills li a{ 
	padding-left:20px; 
	background: #fff; 
	font-size:0.75em; 
	line-height:2em;
	border: none;
	border-bottom:1px solid #ddd;
	background:#fff;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
}
.content-sidebar ul.nav-pills li a,
.content-sidebar ul.nav-pills li a:hover {
  color: #777;
  border-radius:0;  
  margin-top:0;	
}
.content-sidebar ul.nav-pills li a:hover{
  color: #333;
  background:#f7f7f7;
}
.content-sidebar ul.nav-pills li.active a {
  color: #333;
  background: #eee; 							/*---- match background on content-section -----*/
  border-top-color:transparent;
  border-right-color: transparent;
  padding-left:20px;
}
.content-sidebar ul.nav-pills li a { }
.content-sidebar ul.nav-pills li a i{ margin-right:10px; font-size:18px;}
.content-sidebar ul.nav-pills li a i:before{
	position:relative; top:4px;
}
.content-sidebar ul.nav-pills>li>a>.badge{
	background:#888;
	line-height:7px;
	margin-left:5px;
	position:relative; top:-3px;
	font-size:9px;
	letter-spacing:0.06em;
	text-shadow: 1px 1px #888;
}
.content-sidebar a.list-group-item.active>.badge, 
.content-sidebar ul.nav-pills>.active>a>.badge{
	color:#fff;
	background:#606060;
}
/*--- END side col ---*/


/*--- bootstrap overide & accordion ------ */
.panel-body{ 
  border:none; 
  border-radius:0; 
  width:100%; 
}
.panel-default .panel-heading{
	background-image:none;
	background:#f2f2f2;
  margin:0;
  padding:0;
}
.panel-group .panel{ 
  border:none;
	-webkit-box-shadow:none;
  box-shadow:none;
  border-radius:0; 
  width:100%; 
  margin:0;
  padding:0;
}
.panel-group,
.panel-default>.panel-heading+.panel-collapse .panel-body,
.panel-group .panel-heading+.panel-collapse .panel-body{ background-color:#eee;}
.panel-group .panel+.panel{ margin-top:0;}
.panel-group{
  border:none;
  width:100%;
  /*margin:-10px -20px 0 -2px;*/
}
#accordion .panel h6{ 
	font-size:1em; 
	line-height:3.75em;
  border-top:1px solid #fff;
  border-bottom:1px solid #ccc;
  margin:0;
  padding-left:20px;
  height:60px;
}
#accordion h6 a {
	color:#444;
	font-size:1em; 
	line-height:3.93em;  
	font-weight:bold;  
	text-decoration: none;
	display:block;
}
#accordion .panel h6 .icon {
  font-size: 0.63em;    
  background: #fff;
  color: #444;    
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 50%;
  margin-right:20px;
  margin-left:5px;
  float: left;
  position: relative;
  top: 19px;
  left: 0;
  -webkit-box-shadow: 0 0 4px 3px #ddd;
  box-shadow: 0 0 4px 3px #ddd;
  border-collapse:separate;
}
#accordion .panel .accordion-toggle .icon:before {
  position: relative;
  top: 4px;
  left: 0;
  font-family: 'Glyphicons Halflings';
  content: '\2212';
}
#accordion .panel .accordion-toggle.collapsed .icon:before {
  content: '\002b';
}
/* END accordion */


/*---scroll to top ---*/
.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000;
  background: #f0f0f0;
  background: rgba(255, 255, 255, 0.50);
  font-size: 1em;
  line-height:2.25em;
  height:3em;
  font-weight:500;
  padding: 0.38em 1.5em 0.38em 1em;
  display: none;
  border:1px solid transparent;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

.back-to-top:hover {
	background: #fff;    
  background: rgba(255, 255, 255, 0.80);
  border:1px solid #ddd;
  text-decoration:none;
}

.back-to-top i{ 
	color:#777;
	font-size:1.12em;
	line-height:1em;
	height:2em;
	margin-right:7px;
  font-family: 'Glyphicons Halflings';
}
.back-to-top:hover i{ color:#f00;}

.back-to-top i:before{ 
  position: relative;
  top: 3px;
  left: 0;  
  content: "\e133";
}


/*-----------------------*/
/*----- END CONTENT -----*/
/*-----------------------*/






/*---- footer ----*/
.footer {
  color: #777;
  width: 100%;
  font-size: small;
  padding-left: 15px;
  padding: 40px 0 20px 15px;
  background:#444;
}





/*--------------------*/
/*----- top-menu -----*/
/*--------------------*/
/*--- create the menu toggle button ---*/
.menu-toggle{ text-align:center;}
.menu-toggle a{ display:block;width:50px;height:50px; vertical-align:middle; padding:0;margin:0;zoom:1;}
.menu-toggle a:hover{ }
.menu-toggle i{ display:block; font-size:1em;padding:0;margin:0; zoom:1;}
.menu-toggle i:before{ content: "\e605"; color:#707070; font-size:2em; line-height:0.93em;height:50px;}
.menu-toggle a:hover i:before{ color:#555;}
.menu-toggle a:active i:before{ color:#000;}

/*---- top-menu wrapper ----*/
#menu{ position:absolute;z-index:200;top:50px;right:0px;border:none;padding:0;overflow:visible;}
#menu h3,
#menu h2{ 
	color:#222; 
	background:#fff;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #c0c0c0;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
	font-weight:normal; 
	font-style:italic;
	text-indent:0.75em;
	font-size:1.56em; 
	line-height:2.68em; height:2.63em;
	position:relative; z-index:200;
	vertical-align:middle;
	padding:0; 
	margin:0;  
	background-image: -webkit-linear-gradient(top, #eee 0px, #fafafa 8px, #fff 25px);
	background-image: -moz-linear-gradient(top, #eee 0px, #fafafa 8px, #fff 25px);
	background-image: -ms-linear-gradient(top, #eee 0px, #fafafa 8px, #fff 25px);
	background-image: -o-linear-gradient(top, #eee 0px, #fafafa 8px, #fff 25px);
	background-image: linear-gradient(top, #eee 0px, #fafafa 8px, #fff 25px);
	-webkit-box-shadow:-10px 0 18px -10px srgb(0,0,0,1);
	box-shadow:-10px 0 18px -10px srgb(0,0,0,1);
	border-collapse:separate; /* for ie with box-shadow */
	overflow:visible;
}
#menu h2 a{ 
	cursor:default; 
	background:#fff; 
	color:#444;
	display:block;
	font-size:1.56em; 
	font-weight:normal; 
	font-style:italic;
	line-height:2.75em; 
	height:2.63em; 
	padding:0; 
	margin:0; 
	vertical-align:middle;
}
#menu a.link-blocker{ cursor:default; position:absolute; top:0px; right:0; z-index:99999; width:100%;height:54px;} /* prevent clicking the search button through the h3 */

#menu .multilevelpushmenu_wrapper ul{ background:#fff;}

#menu .multilevelpushmenu_wrapper,
#menu .multilevelpushmenu_wrapper div{ 
	overflow:visible;
}

#menu .multilevelpushmenu_wrapper ul{
	-webkit-box-shadow:-3px 3px 18px -10px hsla(0, 0%, 0.0000%, 0.5);
	box-shadow:-3px 3px 18px -10px hsla(0, 0%, 0.0000%, 0.5); 
	border-collapse:separate; /* needed by ie9+ with box-shadow */
}
#menu .multilevelpushmenu_wrapper ul.hideshadow{
	-webkit-box-shadow:none;
	box-shadow:none;
}

.multilevelpushmenu_wrapper li { 
	border-top: none;
	background:#fff;
	display:block;
	font-size:1em;
	line-height:3em; 
	height:4em;
	padding:0 !important;
}
.multilevelpushmenu_wrapper li:hover{ 
	background:#f7f7f7;
	color:#555;
}

.multilevelpushmenu_wrapper li a{ 
	color:#505050;
	font-size:.93em;
	line-height:2.44em; 
	height:4em;
	font-weight:600;
	padding: 1em .25em .1em 1.18em;
	text-transform:uppercase;
	vertical-align:middle;
	border-top: 1px solid #ddd;
	display:block;
}
.multilevelpushmenu_wrapper li a:hover{ 
	color:#444;
	/* background:#f00; */
}
.multilevelpushmenu_wrapper li:first-child a,
.multilevelpushmenu_wrapper li.myaccount>a{ border-top:none;}

.multilevelpushmenu_wrapper li i {
	font-size:2em;
	line-height:1.18em; 
	height:4em;
	margin-right:7px;
}
.multilevelpushmenu_wrapper li.form-group {
	font-size:0.88em;
	line-height:2em; 
	height:2em;
	vertical-align:middle;
	padding: 1px 5px 1px 25px;
	margin:0;
	display:block;
}
.multilevelpushmenu_wrapper li:last-child{ border-bottom:none;}
.multilevelpushmenu_wrapper li.form-group.last{ line-height:0.5em; height:0.5em;}
.multilevelpushmenu_wrapper li.form-group.last:hover{ background:#fafafa;}

.multilevelpushmenu_wrapper .form-group .radio-inline{ padding:0 0 0 20px; display:block;}
.multilevelpushmenu_wrapper .form-group .radio-inline>div{ position:relative; top:-2px; right:5px;} /* graphic replacement */

.multilevelpushmenu_wrapper li.drop-hdr{
	border-top: 1px solid #ddd;
	cursor:default; 
	color:#707070;	
	font-size:0.88em;
	font-weight:bold;
	line-height:1em; 
	height:1.88em;
}
.multilevelpushmenu_wrapper li.drop-hdr em{ display:block; font-style:normal; padding:7px 0 2px 12px;}
.multilevelpushmenu_wrapper li.drop-hdr:hover{ background:#fff; color:#555;}
.multilevelpushmenu_wrapper li.drop-hdr:first-child{ -webkit-box-shadow:none;box-shadow:none; border-top:none;}

.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass{ position:absolute; top:0; right:-10px; z-index:202;}
.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass a{ 
	color:#dc3c47; 
	font-size:.83em; 
	line-height:2.5em; 
	height:4em; 
	background:none;
	padding-right:15px; 
	border:none; 
	font-weight:bold; 
	text-transform:uppercase; 
}
	
.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass a:hover{ color:#555; }
.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass a:active{ color:#dc3c47; }

.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass i{ font-size:1.38em; line-height:1.75em; height:3em; font-weight:bold; margin-right:5px;}
.multilevelpushmenu_wrapper .levelHolderClass.rtl .backItemClass i:before{ }
.multilevelpushmenu_wrapper .backItemClass, 
.multilevelpushmenu_wrapper .levelHolderClass.rtl{ font-family:"Museo Sans",sans-serif; font-weight:500; background:transparent; border:none; -webkit-box-shadow:none; box-shadow:none;}

/*----- END top-menu override styles -----*/














@media screen and (max-width: 500px) {
	.navbar-default h1 a span{ display:none !important;}
	.navbar-default h1{ width:200px;height:50px;}
	.navbar-default h1 img{ width:60%; height:auto;}
}



@media screen and (min-width: 500px) {
  .main-content .content-sidebar {
    float: left;
    width: 30%;
  }

  .main-content .content-sidebar li a,
  .main-content .content-sidebar li a:hover {
    padding-left: 10px;
  }

  .main-content .content-sidebar li.active a {
    padding-left: 0;
  }

  .main-content .content-section {
    float: left;
    width: 70%;
  }
  .navbar-default h1{ 
  	width:80%;
  	display:inline-block;
  }
  .navbar-default h1 a.navbar-brand{ 	
  	font-size:0; 
		line-height: 0; 
	}
	.navbar-default h1 a img{ 
		width:100%;		
	}
}

@media screen and (min-width: 600px) {
  .main-content .content-sidebar {
    width: 25%;
  }

  .main-content .content-sidebar li a,
  .main-content .content-sidebar li a:hover {
    padding-left: 20px;
  }

  .main-content .content-sidebar li.active a {
    padding-left: 10px;
  }

  .main-content .content-section {
    width: 75%;
  }
  
  .navbar-default h1{ 
  	width:80%;
    margin-top:5px;
  }
  .navbar-default h1 a.navbar-brand{ 	
  	font-size:1.06em; 
		line-height: 1.25em; 
	}
	.navbar-default h1 a img{ 
		width:100%;		
	}
}

@media screen and (max-width: 768px) {
	  
	.navbar .options ul.dropdown-menu{  /* options dropdown */
		position:static;
		width:80% !important;
	}
	.navbar .lang ul.dropdown-menu{  /* language dropdown */
		position:static;
		width:100% !important;
		background:#fff;
	}
	.nav.navbar-nav{
		background:#fff;
		margin:0;
	}
	.nav.navbar-nav li{
		background:#f2f2f2;
		border-bottom:1px solid #ccc;
		border-top:1px solid #fff;
		padding-left:0;	
	}
	.nav.navbar-nav li a{
		background:#f2f2f2;
	}
	.table-responsive>.table{ background:transparent;}
	
	.navbar-default h1 a,
	.navbar-default h1{ }
	.navbar-default h1 a img{ 
		height:auto;		
	}
}

@media screen and (min-width: 768px) {

	.navbar-header img {
    height: auto;
    width: 32%;
  }
  .navbar-header .navbar-brand {
    padding: 0 0 0 15px;
  }    
  .nav.navbar-right {
    width: inherit;
  }
  .nav.header-text {
    margin: 14px 0 0 -300px;
    font-size: 1.1em;
  }
  .collections .four-collections {
    padding-bottom: 10px;
  }
  .collections .four-collections > div {
    width: 25%;
    margin-bottom: 15px;
    padding-right: 5px;
  }
  .main-content .content-sidebar {
    width: 16.66667%;
  }
  .main-content .content-section {
    width: 83.33333%;
  }
  .navbar-default h1{ 
  	width:500px;
  	margin-top:4px;
  }
  .navbar-default h1 a.navbar-brand{ 	
  	font-size:1.12em; 
		line-height: 1.25em; 
	}
	.navbar-default h1 a img{ 
		width:32%;		
	}
	.navbar-default .navbar-nav>li>a{
		background:transparent
	}
  .navbar-collapse .navbar-nav.navbar-right:last-child{
	  margin-right:0;
  }
}


@media screen and (min-width: 992px) {
  .main-content .content-section {
    width: 750px;
  }
  .navbar-default h1{ width:540px;}  
}





/* temporary print styles */
@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }    
  .ir a:after { content: ""; }  /* Don't show links for images */    
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }    
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



/* notes for managing orientation of monitors */
@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}




