/*----------------------------------------------*/
/*--- START :: Sliding Panel ---*/
/*----------------------------------------------*/
/*--- clear default extruder styles -----*/
.extruder, .extruder.right,.extruder .extruder-content, .extruder.right .flap .flapLabel, .extruder .text, .extruder .voice.hover, .extruder .voice.sel, .extruder .settingsBtn, .extruder .optionsPanel,.optionsPanel .panelVoice a:hover{ background-image:none; background:transparent;} 
.extruder.open .extruder-content, .extruder.right.open .extruder-content,.extruder.right .flap,.extruder .voice,.extruder.right .text,.optionsPanel .panelVoice a{ -webkit-box-shadow:none;box-shadow:none; text-transform:none;}
.extruder.right .extruder-content,.panel-default .panel-heading,.extruder.right .panel-heading,.extruder.right .panel-group,.extruder.right .panel-group .panel,.extruder.right .panel-default>.panel-heading{ border:none;}

/*--------------------------*/
/*--- panel ---*/
#kmaps-search.extruder.right{ padding:0; border:none; background:transparent; margin-top:65px; -webkit-box-shadow:none;box-shadow:none;}
#kmaps-search.extruder.right,
#kmaps-search.extruder.right.isOpened{ }
#kmaps-search .ext_wrapper{ height:auto; padding:0; }
#kmaps-search.extruder.right .extruder-content{ background:#fff; border:7px solid #fff; border-right-width:0px;  padding:0;	width:100%; -webkit-box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500);box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500); border-collapse:separate; /* needed by ie9+ with box-shadow */}
#kmaps-search.extruder.right.isOpened .extruder-content{ border-right-width:12px;}
#kmaps-search.extruder .text{ border:none; padding:0; text-shadow:none; background:#f8f8f8; color:#333; width:275px; min-width:275px !important; /*---- default panel container width is set ----*/}

#kmaps-search.extruder.right.open-collections{ margin-top:280px;}

/*--- handle ---*/
#kmaps-search div.text.ui-resizable{ }
#kmaps-search div.text.ui-resizable,
#kmaps-search.isOpened div.text.ui-resizable{ position:static;} /*--- keep the right edge pinned */

#kmaps-search .ui-resizable-handle.ui-resizable-w{ cursor:col-resize; position:absolute; left:1px; top:10px; /* top:85%; */ z-index:900; width:6px; height:97%;}
#kmaps-search .ui-resizable-handle.ui-resizable-w:hover{ }
#kmaps-search .ui-resizable-handle.ui-resizable-w:active{ background:#fafafa;}

/*--- big search button inline styles are loaded via main.js with icon markup  */
.extruder.right .flap{ cursor:pointer;display:block;background:#fff;height:50px;width:50px;position:absolute;left:-1px;top:0;padding: 8px 0 8px 8px;margin:0 0 0 -48px; border-top-left-radius:50px;border-bottom-left-radius:50px;}
.extruder.right .flap.on-flap{ border-collapse:separate; /* needed by ie9+ with box-shadow */}
.extruder.right .flap span.flapLabel,
.extruder.right .flap.on-flap span.flapLabel{ width:42px !important;position:relative;top:-1px;left:0; background:#505050; height:36px;display:block; padding:18px 40px 18px 0; margin:0;border-top-left-radius:25px;border-bottom-left-radius:25px;overflow:hidden;}

.extruder.right.isOpened .flap{width:49px;}
.extruder.right.isOpened .flap.on-flap span.flapLabel{ width:41px !important;}
/*----- css for the flap is inserted inline, see js/main ---*/
.extruder.right .flap>span,
.extruder.right .flap.on-flap>span{ color:#ddd;}
.extruder.right .flap.on-hover>span,
.extruder.right .flap.on-hover.on-flap>span{ color:#fff;}
object.flip_label{ display:none;}
/*----------------------------------------------*/
/*--- END :: Sliding Panel ---------------------*/

/*--- START :: Search Panel :: Input & View ----*/
/*----------------------------------------------*/
.input-section{ padding:0;border: 1px solid #e0e0e0;display:block;width:100%;}
.input-section .input-group input.form-control:first-child{ -webkit-border-bottom-right-radius: 25px;-webkit-border-top-right-radius: 25px;border-bottom-right-radius: 25px;border-top-right-radius: 25px;}
.input-section .input-group{ height:47px; /*** height ***/  padding: 0 12px 0 10px; display:block; width:100%; background:#f8f8f8;}
.input-section .input-group input.form-control{
	color:#777;
	border: 1px solid #ccc;
	border-radius: 25px;
	font-size:1.06em;
	height:35px; /* coordinate with button height below */
	line-height:1.44em;
	margin: 8px 0 0; 
	padding:2px 60px 0 15px;
  width:100%;  
  border-radius: 25px;
	overflow: auto;
	vertical-align:middle;
	-webkit-box-shadow:0px 2px 5px #eee inset;
	box-shadow:0px 2px 5px #eee inset; 
	background: #fff;
	-webkit-transition-property: all;
	-webkit-transition-duration: 400ms;
	transition-property: all;
	transition-duration: 400ms;
}
.input-section .input-group input.form-control:hover{ border: 1px solid #ccc; color:#777;}
.input-section .input-group input.form-control:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8;box-shadow: 0 0 4px #949bd8;}

/*--- button group ---*/
.input-section .input-group .input-group-btn{ width:45px; /* set button width and position */ position:absolute; top:9px; right:13px; background:transparent; padding:0; margin:0;}

/*--- button ---*/
.input-section .input-group .btn.btn-default{ 
	display:block; 
	height:33px; /* 2px less than search input height above */		
	color:#888;
	width:100%; 
	border: 1px solid #e5e5e5;
	border-width:0 0 0 1px;
  border-radius: 25px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0; 
	-webkit-box-shadow:none;
	box-shadow:none;
	background-clip: padding-box; /* Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners */
}
.input-section .input-group .btn.btn-default:hover{ color:#dc3c47;}
.input-section .input-group .btn-default:active, .input-section .input-group .btn-default.active{ background: transparent; border-color:#fff; /* active state for button */}
.input-section .input-group .btn i.icon{ font-family: 'Glyphicons Halflings';}
.input-section .input-group .btn i:before{ content: "\e080"; position:relative; right:2px; top:1px;}
.input-section .input-group .btn.btn-default:active i.icon, 
.input-section .input-group .btn.btn-default.active i.icon{ color:#777;}
/*--- clear all button ---*/
.input-section .feature-group .feature-reset,
.input-section .input-group .searchreset{ 
	border:none;
	background:transparent;
	background-image:none;
	width:15px;
	height:15px;
	position:absolute;
	right:46px;
	top:9px;
	z-index:10000;
	font-size:1.5em; 
	color:#ccc;
	display:none;
	padding:0;margin:0;
}
.input-section .feature-group .feature-reset{ position:absolute; top:23px;right:7px;}

/*-----------------------------------------------*/
/*----- Advanced Options -----*/
.advanced-view{ /*** height:250px; height can help control cross-browser issues ***/ float:left; padding:0; background:#f8f8f8; width:100%; margin-right:4px;}
.advanced-view .form-group{ border-top:1px solid #e0e0e0; margin:0 8px;}
.advanced-view .form-group.last{ padding-bottom:5px;}

.input-section label{ color:#222; font-size:13px; line-height:30px; height:28px; padding-right:0; margin-right:0;}

/*--- toggle links for search panel ---*/
.input-section .toggle-link{ background:#f8f8f8;color:#dc3c47;font-size:0.93em;display:inline;float:right; font-weight:600; height:15px; margin:0 10px 3px 0;padding:0 0 0 20px;text-decoration:none;font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;}
.input-section .toggle-link:hover{ text-decoration:none !important; color:#555;}
.input-section .toggle-link i.icon:before{ color:#dc3c47; font-family:'kmaps-icons'; content:'\e60d'; font-size:0.68em; margin-right:4px;}
/*---------------------------*/
/*--- custom sizes & position ---*/
.input-section .toggle-link.advanced-link{ margin-right:25px}
.feature-group .toggle-link.features-link{ margin:0 10px 0 0;}
.feature-group .toggle-link.show-features i.icon:before, /*--- for feature types ---*/
.input-section .toggle-link.show-advanced i.icon:before{content:'\e613';} /*--- for advanced ---*/

/*--- filtering button and readout above input ---*/
.feature-group .feature-treeButtons{ height:20px;width:100%; margin-bottom:5px; position:relative;top:-2px; display:none;}
.feature-group .feature-treeButtons label:first-child{ color:#707070;}

.feature-group .feature-treeButtons label.radio-inline{ height:15px;width:80px;display:inline;float:right;}
.feature-group .feature-treeButtons label.radio-inline div{ margin:0 4px 0 0;}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, 
span.fancytree-node.fancytree-selected:hover{ background:transparent;}


/*--- iCheck :: radio and checkbox style overrides ---*/
.input-section .radio-inline input,
.input-section .radio input[type="radio"], 
.input-section .radio-inline input[type="radio"]{ margin-left:5px;}

.input-section .checkbox-inline{ padding:0 0 0 3px;}
.input-section .radio-inline{ padding:0;}
.input-section .checkbox-inline{ margin-left:1px; }

.input-section .radio-inline+.radio-inline, 
.input-section .checkbox-inline+.checkbox-inline{ margin-left:3px;}

.input-section .radio-inline>div,
.input-section .checkbox-inline>div{ position:relative; top:-2px; margin:0;padding:0;} /* graphic icon */

.input-section label.radio-inline:first-child{ width:80px; min-width:80px; max-width:30%; padding-left:4px;}

/*-----------------------------------------------*/
/*---- select dropdown -----*/
.input-section .bootstrap-select{ width:100%; padding:7px 5px 3px 5px; margin-top:4px;margin-bottom:0;}
.input-section .bootstrap-select .selectpicker{ line-height:27px; height:27px; padding:0; border:1px solid #ddd; width:100% !important;}
.input-section .bootstrap-select .btn{ 
	padding-left: 15px;
	color:#666;
	background: transparent;
	background-image:none;
	background-image: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%); 
  background-image: -moz-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -ms-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -o-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF5A00, endColorstr=#FFAE00); */
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	border-radius:25px;  	
	border-color: #eeee #eee #ddd;
	background-clip: padding-box; /* Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners */
	overflow:hidden;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-section .bootstrap-select .btn:hover{ 
	border: 1px solid #ccc; 
	background: #eee; 
}
	
.input-section .bootstrap-select .btn:focus,
.input-section .bootstrap-select .btn.active{ outline:none !important; border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px 0 #5764de; box-shadow: 0 0 4px 0 #5764de; 
	background: #f5f5f5;
	background-image:none;
}

/*--- dropdown ---*/
.input-section .dropdown-menu.open{ border-radius:10px;}
.input-section .selectpicker .dropdown-menu>li>a span.text{ margin-right:0; padding-left:18px; overflow:hidden;}

.input-section .bootstrap-select.btn-group .dropdown-menu{ height:200px; overflow:auto;}

.input-section .selectpicker .caret{ border:none; }
.input-section .selectpicker .caret:before{ color:#dc3c47; font-size:17px; font-family: 'kmaps-icons'; content: "\e620"; position:absolute; top:-10px; right:0px;}

.input-section .selectpicker li{ padding:0; overflow:hidden;}
.input-section .selectpicker li a{ color:#444; padding:0 15px; overflow:hidden; display:block; line-height:25px; height:25px;}

.input-section .selectpicker li a,
.input-section .selectpicker li a span,
.input-section .selectpicker li.selected a{ color:#555;}
.input-section .selectpicker li.selected a span.text{ color:#000;}
.input-section .selectpicker li>a:hover{ }

.input-section .selectpicker li,
.input-section .selectpicker li a:active,
.input-section .selectpicker li.selected a:hover,
.input-section .selectpicker li.selected a:active{ color:#444 !important;}

.input-section .selectpicker li a span.text:hover,
.input-section .selectpicker li.selected a span.text:hover{ color:#fff !important;}

.input-section .selectpicker li:hover span.text,
.input-section .selectpicker li:active span.text{ color:#fff !important; background: transparent !important; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark{ color:#dc3c47;}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:hover i.check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:focus i.check-mark{ color:#fff;}
 /* search errors */
.input-section .notification-wrapper{ padding: 0 15px; margin:0; }
.input-section .alert{ margin:0 10px 4px;}


.input-section .selectpicker li a span{ background:transparent !important; color:#444;}
.input-section .selectpicker li a span:hover{ color:#fff;}
/*-------------------------------*/
/*--- feature select dropdown ---*/
.feature-group{ padding:0; padding-bottom: 8px;}
.feature-group .form-control{ margin:0;}

.feature-group .dropdown-menu{ height:320px; overflow:auto; border-radius:12px; padding:0; top:50px; left:0; width:100%; min-width:220px;}
.feature-group .dropdown-menu p{ font-size:.82em; line-height:normal; color:#222;}

#kmaps-search .text .feature-message{ background-color:#fff; font-size:12px;padding:10px 17px 10px; margin:0; border-bottom:1px solid #ccc; position:relative; z-index:99999;} /*--- feature intro text ---*/ 

.show-feature-tree{ float:left; padding:0; background:#f8f8f8; width:100%; margin-right:4px;} 
.show-feature-tree .form-group{ border-top:1px solid #e0e0e0; margin:0 8px;}
.show-feature-tree .form-group.last{ /* padding-bottom:5px; */}

.feature-group ul.fancytree-container{ border:none; margin-top:12px;}
.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, 
.feature-group span.fancytree-node.fancytree-selected:hover{ background:transparent;border:none;}

.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active, 
.feature-group span.fancytree-node.fancytree-active:hover{ background:transparent;border:none;}

.feature-group #feature-tree{ height:auto;}
#kmaps-search .text #feature-tree,
.fancytree-ext-filter span.fancytree-node span.fancytree-title{ color:#999;}

.feature-group span.fancytree-node{ border:none; display:block;}

#kmaps-search .text .feature-group { }
#kmaps-search .text input.feature-name { }

.feature-group span.fancytree-icon{ background-image:none; margin:0; padding:0; width:0; height:0; line-height:0; display:none;}


/*--- bottom buttons ---*/
.feature-submit{ padding:0 17px 7px; border-top:1px solid #ccc; width:100%; background-color:#fff; height:45px; min-height:45px;
	border-radius-bottom-left:12px; border-radius-bottom-right:12px; position:absolute; bottom:-7px; z-index:9999;
}
.feature-group .tree-wrap{ position:relative; height:305px; min-height:305px; }
.feature-container{  height:305px; min-height:305px;}
.feature-container #feature-tree{ padding:0; height:305px; min-height:305px; margin-top:5px;}



.feature-help{ color:#555;position:relative;top:20px;right:20px; z-index:9999; height:12px;width:12px;}
.feature-help i{ font-size:1.18em; color:#555;background:#fff;}
.feature-help i:before{ }

.feature-submit .btn.btn-default{ /*--- the select button ---*/
	font-size:0.75em; background-color:#dc3c47;color:#fff; padding:3px 13px 2px; margin-top:7px; background-image:none;box-shadow:none;text-transform:uppercase;text-shadow:none;
}
.feature-submit .btn.btn-default>span{ font-size:1.62em;position:relative;top:3px;}
.feature-submit .btn.btn-default.clear-form{ /*--- the clear button ---*/
	border:none;background:transparent;padding:0;margin-top:5px;float:right;-webkit-box-shadow:none; box-shadow:none;color:#dc3c47;text-transform:capitalize; border-radius:0;
}
.feature-submit .btn.btn-default.clear-form:hover{ color:#333;}
.feature-submit .btn.btn-default.clear-form:active{ color:#dc3c47;}





.advanced-view .form-group.km-input{ padding:1px 5px 1px;} /*--- common input ---*/
.advanced-view .form-group.km-input .form-control{ 
	line-height:27px; 
	height:27px; 
	padding:0 15px; 
	margin:7px 0;
	width:100% !important;
	color:#666;
	background: #fff;
	background-image:none;
	border: 1px solid #ccc;
	border-radius:18px;  	
	background-clip: padding-box; /* Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners */
	overflow:hidden;
	vertical-align:middle;	
	-webkit-box-shadow:0px 2px 5px #eee inset;
	box-shadow:0px 2px 5px #eee inset;
}
.advanced-view .form-group.km-input .form-control:hover{ border: 1px solid #ccc; color:#777;}
.advanced-view .form-group.km-input .form-control:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8; box-shadow: 0 0 4px #949bd8;}


/*--- END advanced ---*/
/*----------------------------------------------------*/
/*--- END :: Input & View ----------------------------*/


/*---- START View Section :: Tabs - Table - Tree -----*/
/*----------------------------------------------------*/
.view-section{ display:none;background:#fff;} /*--- prevent flash on load */
.isOpened .view-section{ border-top:5px solid #fff;}
.view-section .tab-content{ background:#f8f8f8; padding:0; border: 1px solid #ddd; border-width:0 1px 1px;}
.view-section .tab-content .tab-pane{ padding:0;}
.view-section .tab-content .tab-pane.treeview{ }
.view-section .nav-tabs>li{ width:35%; max-width:130px; font-size:1.06em; line-height:1.5em; letter-spacing:0.06em;}
.view-section .nav-tabs>li>a{
	color:#777;
	font-size:14px;
	line-height:25px;	
	margin-right: 2px;
	font-weight:bold;
	padding:10px 0 5px 0;
	display:none; /*--- prevent flash on load */
	text-align:center;
	background:#fcfcfc;
	border: 1px solid #eee;
	border-bottom-color: #ddd;
	border-top:2px solid #f0f0f0;
	-webkit-transition: background-color 100ms;
	transition: background-color 100ms;

}
.view-section .nav-tabs>li>a:hover, 
.view-section .nav-tabs>li>a:focus{  border-color:#ddd; border-top:2px solid #ccc; color:#333; background:white;}
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:focus{ color:#dc3c47; font-size:14px; background:#f8f8f8; text-decoration:none; border-color:#ddd; border-top:2px solid #e36159; border-bottom-color:transparent;}
.view-section .listview>div,
.view-section .treeview>div{ padding:0; overflow:auto;}
.view-section .listview>div{ padding-top:7px;}
.view-section .treeview .tab-content{ padding-top:10px; padding-bottom:0;}
.view-section .nav-tabs>li> i{ width:16px; height:16px;}
.view-section .nav-tabs>li> a i:before{ font-size:13px; position:relative; top:0; right:5px;}
.view-section .nav-tabs>li.active> a i:before{ font-size:16px; position:relative; top:1px; right:5px;}
/*---- END tabs -----*/

/*---- START list table view ----*/
.view-section table.table-responsive{ text-align:center; border:none;}
.table-responsive>.table>tbody>tr>td{ white-space:normal;}
.view-section table.table-results{ border:none; font-size:13px; line-height:20px; height:20px; margin-bottom:0; margin:0 2%; width:96%; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;}
.view-section table.table-results a{ font-style:italic;}
.view-section table.table-results tbody>tr,
.view-section table.table-results thead tr th,
.view-section table.table-results tbody>tr>td{ line-height:20px;text-align:left; display:block;}
.view-section table.table-results tbody tr:hover{ background: #fff;}
.view-section table.table-results thead tr th:after{ color:#555; font-family: 'kmaps-icons'; content: "\e620"; font-size: 14px; margin-left:0; position:relative; top:2px;}
.view-section table.table-results thead tr th{ color:#333;}
.view-section table.table-results thead tr th:hover,
.view-section table.table-results thead tr th:hover:after{ color:#dc3c47; cursor:pointer;}
/* .view-section table.table-results tr:nth-child(even) {background: #fcfcfc;} */
.view-section table.table-results tbody>tr>td blockquote,
.view-section table.table-results tbody>tr>td quote{ font-size: 0.5em !important;}

th.sorting_asc,
table.dataTable thead .sorting_asc{ background:none;border:none;width:0;min-width:0; }



/* trunk8 */
.listview .col-xs-6 { width: 85%;font-size: 0.6em; padding-right: 0;/*padding-left: 0em;*//*margin-left: -2em;*/}
.listview .pagination>li>a, .pagination>li>span { padding: 0.5em 0.8em;}
.listview .pagination { margin-left: 1em;margin-top: 0.3em;margin-bottom: 0.1em;margin-right: -0.5em;}
.listview .dataTables_info {font-size: 1.3em;margin-left: 1em;}
.listview .row {margin-right: 0;/*margin-left: 0em;*/}
/* .listview td.sorting_1 { min-width: 12em;} */
.listview div.title-field { position: static;float: none;/*width: 85%;*//*max-height: 1.3em;*//*white-space: nowrap;*//*overflow: hidden;*//*text-overflow: ellipsis;*/}
.listview .row {/*margin: 1em 1em 1em 1em;*/}
.listview .popover-content {font-family: sans-serif;font-size: smaller;}
.popover-content > blockquote p {font-size: 13px;}
.popover-content > blockquote {
    border-left: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.popover-content .kmapid-display,.counts-display {
    display: block;
    float: right;
    clear: both;
    font-size: smaller;
    white-space:nowrap;
    margin-left: 0;
    margin-right: 0;
    color: #888;
}

.popover-content .info-wrap {min-width: 18em;}
.popover-content .counts-display {height: 2em;}
.popover-title .kmapid-display {
    display: block;
    float: right;
    clear: both;
    font-size: x-small;
    white-space:nowrap;
    margin-left: 0;
    margin-right: 0;
    color: #888;
}
.popover-title .kmapid-display:before {color: #888;/*content: "kmapid: "*/}
.popover-content .badge {
    line-height: 7px;
    margin-left: 5px;
    position: relative;
    top: -3px;
    font-size: 9px;
    font-family: sans-serif;
    letter-spacing: 0.06em;
}
.popover-content span.associated+span.associated:before {content: '|';}
.listview h3.popover-title {font-size: medium;}
/*--- END trunk8 */
/*-----------------*/
/*--- END Table ---*/







/*------------------------------*/
/*---- START :: Search Tree ----*/
/*------------------------------*/
.view-section ul.fancytree-container{ margin:0; background:transparent; border:none; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }
.view-section ul.fancytree-container ul{ padding-top:0; margin-top:0;}
.view-section ul.fancytree-container li{ }

.view-section span.fancytree-icon{ margin:0; padding:0; width:0; height:0; line-height:0; display:none;} /*--- remove checkbox ---*/
.view-section span.fancytree-node{ border:none; display:block;}

.view-section span.fancytree-expander:before{ }
.view-section span.fancytree-node.fancytree-active{ background:white !important; border:none; -webkit-box-shadow: 0 0 3px 0 #aaa;box-shadow: 0 0 3px 0 #aaa; }

.view-section span.fancytree-title{ 
	color:#444; 
	margin:0 0 0 -24px; 
	padding-left:15px; 
	line-height:22px; 
	height:20px; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
  box-sizing: content-box;
}
.view-section span.fancytree-title:hover{ color:#000;}
.view-section span.fancytree-title:before{
	background: #fff;
	color:transparent;
	font-family: 'kmaps-icons';
	content: '\e625';
	font-size: 1em;
	margin-right:8px;
	float:left;
	position:relative; top:5px; right:1px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  display: block;
  margin-right:9px;
  -webkit-box-shadow:0 0 2px 1px #aaa;
  box-shadow:0 0 2px 1px #aaa;
}
.view-section span.fancytree-title:hover:before {
    background: #777; -webkit-box-shadow:none;box-shadow:none;
}
.view-section .fancytree-statusnode-wait span.fancytree-title:before,
.view-section .fancytree-statusnode-error span.fancytree-title:before{ 
  width:0;
  height:0;
  display: none;
  color:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;	
  background:transparent;
}
.view-section span.fancytree-has-children>span.fancytree-title {
    padding-left: 10px;
    margin-left: -15px;
}
.view-section span.fancytree-has-children span.fancytree-title:before {
    content: none;
    position: relative;
    top: 0;
}
.view-section tr.row_selected {
    display: block;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 #aaa;
    box-shadow: 0 0 3px 0 #aaa;
}
.view-section span.fancytree-active span.fancytree-title {
    color: #000;
}
.view-section span.fancytree-active.fancytree-has-children span.fancytree-title:before {
    content: none;
    text-shadow: none;
    display: none;
}
.view-section span.fancytree-active span.fancytree-title:before {
    background: #f4222c;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.view-section ul.fancytree-container .glyphicon {
    color: #888;
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    margin-right: 12px;
    position: relative;
    top: 1px;
}
.view-section ul.fancytree-container span.fancytree-node:hover > .glyphicon {
    color: #333;
}
.view-section ul.fancytree-container span.fancytree-node.fancytree-active:focus > .glyphicon,
.view-section ul.fancytree-container span.fancytree-node.fancytree-active .glyphicon {
    color: #dc3c47;
    background: transparent;
}
/*--- hihglight search text ---*/
.view-section span.fancytree-title > em,
.view-section mark {
    color: #dc3c47;
    font-style: normal;
    padding: 0;
    background: transparent;
}
/*---- END treeview -----*/


/*--------------------------------*/
/*--- END SEARCH PANEL -----------*/
/*--------------------------------*/
















/*-------------------------------*/
/*--- START Kmaps Icon Fonts ----*/
/*-------------------------------*/

/* *** KMAPS CUSTOM icons below *** */
@font-face {
	font-family: 'kmaps-icons';
	src:url('../fonts/kmaps-icons/fonts/kmaps-icons.eot?-n4brbx');
	src:url('../fonts/kmaps-icons/fonts/kmaps-icons.eot?#iefix-n4brbx') format('embedded-opentype'),
		url('../fonts/kmaps-icons/fonts/kmaps-icons.woff?-n4brbx') format('woff'),
		url('../fonts/kmaps-icons/fonts/kmaps-icons.ttf?-n4brbx') format('truetype'),
		url('../fonts/kmaps-icons/fonts/kmaps-icons.svg?-n4brbx#kmaps-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon {
	font-family: 'kmaps-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
		
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*--- increases the font 33% larger relative to the icon container ---*/
.km-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -30%;
}
.km-2x {
  font-size: 2em;
}
.km-3x {
  font-size: 3em;
}
.km-4x {
  font-size: 4em;
}
.km-5x {
  font-size: 5em;
}
.km-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.km-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.km-ul > li {
  position: relative;
}
.km-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.km-li.km-lg {
  left: -1.8571428571428572em;
}
.km-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.km-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}



/*---- kmaps icon font set -----*/
.km-expand:before {
	content: "\e600";
}
.km-contract:before {
	content: "\e601";
}
.km-expand2:before {
	content: "\e602";
}
.km-contract2:before {
	content: "\e604";
}
.km-cog:before {
	content: "\e623";
}
.km-info:before {
	content: "\e624";
}
.km-info2:before {
	content: "\e626";
}
.km-checkbox-checked:before {
	content: "\e627";
}
.km-checkbox-unchecked:before {
	content: "\e628";
}
.km-checkbox-partial:before {
	content: "\e629";
}
.km-radio-checked:before {
	content: "\e62a";
}
.km-radio-unchecked:before {
	content: "\e62b";
}
.km-menu:before {
	content: "\e605";
}
.km-visuals:before {
	content: "\e606";
}
.km-texts:before {
	content: "\e603";
}
.km-tree:before {
	content: "\e607";
}
.km-terms:before {
	content: "\e608";
}
.km-subjects:before {
	content: "\e609";
}
.km-stack:before {
	content: "\e60a";
}
.km-search:before {
	content: "\e60c";
}
.km-plus:before {
	content: "\e60d";
}
.km-places:before {
	content: "\e60e";
}
.km-overview:before {
	content: "\e610";
}
.km-directions:before {
	content: "\e611";
}
.km-mulitply:before {
	content: "\e612";
}
.km-minus:before {
	content: "\e613";
}
.km-menu2:before {
	content: "\e614";
}
.km-maps:before {
	content: "\e615";
}
.km-list2:before {
	content: "\e616";
}
.km-list:before {
	content: "\e617";
}
.km-info22:before {
	content: "\e618";
}
.km-info3:before {
	content: "\e619";
}
.km-essays:before {
	content: "\e61a";
}
.km-downarrow:before {
	content: "\e61b";
}
.km-community:before {
	content: "\e61c";
}
.km-checkmark:before {
	content: "\e61d";
}
.km-cancel:before {
	content: "\e61e";
}
.km-audiovideo:before {
	content: "\e61f";
}
.km-arrowselect:before {
	content: "\e620";
}
.km-agents:before {
	content: "\e621";
}
.km-dot:before {
	content: "\e625";
}
.km-photos:before {
	content: "\e60b";
}
.km-sources:before {
	content: "\e60f";
}
.km-events:before {
	content: "\e622";
}

/*----------------------*/
/***** END Fonts ******/
/*----------------------*/


